@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {background-color: white;}

/* root color page theme */
:root {
  --primary-color: #1659a5;
  --secondary-color: #22a1cf;
  --light-color: #437dc9;
  --dark-color: black;
  --light-color2: #769bca;
  --max-width: 1100px;
  --dark-color: black;
}

/* Nav bar */

#main-nav {
  background: #1659a5;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 0.75rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

/*nav background color*/
#main-nav ul li a.current {
  background: var(--light-color2);
  color: #1659a5;
}

#main-nav ul li a:hover {
  background: var(--light-color2);
  color: #1659a5;
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase {
  color: #1659a5;
  background: #f4f6f9;
  padding: 2rem;
  /* padding-bottom: 1rem; */
  position: relative;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}
/*end navigation bar=========*/

/* Utility classes */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.card {
  background: #f4f6f9;
  padding: 1rem;
  color: #1b3e59;
  border-radius: 15px;
  box-shadow: 2px 2px 16px 0px #1b3e59;
}
/*======End utility class=====*/

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}


/*home category card layout*/
.category-tech {
  background: var(--techCard-color);
  margin-bottom: 1rem;
}

.category-ent {
  background: var(--ent-color);
  margin-bottom: 1rem;
}

.category {
  --techCard-color: #f35b7c;
  --ent-color: rgb(88, 127, 179);
  --tech-color: #1597e7;
}
.bg-dark {
  background: var(--dark-color);
  color: white;
}

.bg-primary {
  background: var(--primary-color);
  color: #1659a5;
}

.bg-secondary {
  background: var(--secondary-color);
  color: white;
}
/*===============*/

/* styling family attribute*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:  Arial, sans-serif;
  margin-bottom: 0.55rem;
  line-height: 1.3rem;
}


.bg-dark h1,
.bg-dark a,
.bg-primary h1,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: white;/*#1659a5;*/
}

.bg-dark h2,
.bg-dark h3,
.bg-primary h2,
.bg-primary h3 {color: #000000;}

/* Home card style */
/*tech benefit article grid style*/
.column-home {
  float: left;
  width: 30.33%;
  padding: 5px;
  border-radius: 15px;
  background: white;
  margin:10px;
  padding: 10px;
  box-shadow: 0px 2px 10px 0px black;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

a.medium {
  font-size: 20px;
}

a{
  font-family:  Arial, sans-serif;
}

#liFooter li {
  margin-bottom: 10px;
}
h2.home-article {
  padding-bottom: 25px; 
  text-align: center;
}

h3.article-color{
  color: var(--primary-color);
}
  

/* footer */

#main-footer {
  background: #333;
  color: white;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: white;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container>*:last-child {
  background: #444;
  grid-column: 1/ span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}


/* botton style and colors*/
.btn {
  display: inline-block;
  border: none;
  background: #333;
  color: whitesmoke;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background: var(--light-color);
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-contact {
  background:rgb(175, 223, 243);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;

}

.btn:hover {
  opacity: 0.7;
}


/*services page style*/
#image-services {
 
  border: 0px solid black;
  padding-top: 25px;
  background: url(images/services2.png);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  background-size: 100%;
}

#showcase-service {
  color: #1659a5;
  background: #f4f6f9;
  padding: 0rem;
  height: 300px;
  /* padding-bottom: 1rem; */
  position: relative;
}

h1.service-header {
  padding-bottom: 10px; 
  text-align: center;
  color: rgb(182, 226, 249);
  line-height: 50px;
}

p.service-header {
  padding-bottom: 25px; 
  text-align: center;
  color: white;
}

a.service-header {
  font-size: 17px;
  text-indent: 50px;
  color: white;
}

a.primary-card{
  font-size: 20px;
  text-indent: 50px;
  font-weight: bold;
  margin-top: 15px;
  color: #1659a5;
}

.column-service {
  float: left;
  width: 45%;
  padding: 0px;
  border-radius: 0px;
  background: rgb(221, 244, 252);
  margin:10px;
  padding: 10px;
  
}

p{font-family:  Arial, sans-serif;}


