@charset "UTF-8";

:root {
  --primary-color: #1659a5;
  --secondary-color: #f99500;
  --light-color: #437dc9;
  --dark-color: rgb(51, 51, 51);
  --max-width: 1100px;
}

/* Nav bar */

#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase {
  color: whitesmoke;
  background: rgb(79, 115, 163);
  padding: 2rem;
  /* padding-bottom: 1rem; */
  position: relative;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}
/*end navigation bar=========*/

/* Utility classes */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #1597e7;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
/*======End utility class=====*/